@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 100 700;
  src: url(icons.woff2) format('woff2');
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  font-feature-settings: "aalt";
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --bg: #111111;
  --header-bg: #111111;
  --game-bg: #3a3a3abb;
  --play-bg: linear-gradient(to right, #50C82F, #18B14F);
  --game-choice-bg: #ffffff11;
  --warning-bg: #cc1111;
  --check-bg: #11cc11;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #aaa;
  background-clip: content-box;
  min-width: 10px;
  min-height: 10px;
}
::-webkit-scrollbar-track {
  background-color: #fff1;
}

